@import url(https://fonts.googleapis.com/css2?family=Sen:wght@400;600;700;800&amp;display=swap);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: 'Sen', sans-serif;
    }
  }
  .btns{
    @apply inline-block w-full md:w-auto text-center  px-8 py-4 text-donutblue font-bold bg-white hover:bg-darkchampagne hover:text-donutpink rounded-lg
}
.navbtns{
    @apply inline-block w-full md:w-auto text-center px-8 py-3 text-donutblue font-bold   hover:text-donutpink
}
.donuts{
    @apply absolute bottom-1 md:bottom-3 left-6 md:hover:bottom-10 transition duration-200 
}
.brand{
    @apply md:absolute md:left-1/2 md:md:transform md:-translate-x-1/2  md:mr-12 text-xl items-center space-x-2 flex  font-normal text-transparent bg-clip-text bg-gradient-to-r from-donutpink via-donutgreen to-donutblue hover:from-donutpink hover:via-donutpink hover:to-donutblue hover:cursor-pointer
}
.footerlink{
    @apply text-donutpink inline-block  hover:text-donutblue font-bold
}
.mainbg{
    @apply bg-white dark:bg-darkchampagne
}
.maintext{
    @apply text-champagne dark:text-white
}
.mainheading{
    @apply mb-6 text-6xl md:text-7xl font-extrabold leading-[1.25] tracking-wide drop-shadow-lg
}
.donutstats{
    @apply block font-bold uppercase text-sm text-donutblue
}

.donutinput{
    @apply w-full px-12 py-6 border border-darkchampagne focus:ring-donutblue focus:border-donutblue rounded-md
}
  .gradient-donut{
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-image:linear-gradient(112.84deg,#FFAEBC .33%,#A0E7E5 38.23%,#B4F8C8 65.22%,#FBE7C6 100%)
}

.gradient-donutblue {
    background-image: linear-gradient(98.24deg,#A0E7E5 0,#4865e0 100%);
}
  .background-animate{
    background-size:400%;
    -webkit-animation:AnimateBackground 15s linear infinite;
    animation:AnimateBackground 15s linear infinite
  }
  @-webkit-keyframes AnimateBackground
  {
    0%,100%{background-position:0 50%}
    50%{background-position:100% 50%}
  }  
  @keyframes AnimateBackground{
    0%,100%{background-position:0 50%}
    50%
    {background-position:100% 50%}
  }


  .animate-moveRightDonut {
    -webkit-animation: moveRightDonut 5s linear infinite 1s;
    animation: moveRightDonut 5s linear infinite 1s;
}
.animate-moveLeftDonut {
    -webkit-animation: moveLeftDonut 5s linear infinite 1s;
    animation: moveLeftDonut 5s linear infinite 1s;
}

@-webkit-keyframes 
moveRightDonut
{
    20%,90%{
        transform:none
    }
    20%,50%{
        transform:translate(130px,30%)
    }
}
@keyframes
moveRightDonut{20%,90%{transform:none}20%,50%{transform:translate(130px,30%)}}


@-webkit-keyframes 
moveLeftDonut
{
    20%,90%{
        transform:none
    }
    20%,90%{
        transform:translate(130px,30%)
    }
}
@keyframes
moveLeftDonut
{
    20%,90%{
        transform:none
    }
    20%,90%{
        transform:translate(130px,30%)
    }
}